@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*ここから記述*/

/* header*/
.header {
  background: black;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.title {
  font-weight: bold;
  color: #f2f2f2;
  margin-left: 30px;
}

.link li {
  display: inline;
  margin-right: 30px;
}

.link li a {
  color: #f2f2f2;
  text-decoration: none;
}


/*topページ　main-first*/
#main-first {
  height: 600px;
  background-image: url(../img/eyecatch.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#main-first .main-first-title {
  display: flex;
  position: absolute;
  top: 60%;
  left: 10%;
  font-size: 40px;
  font-weight: bold;
  color: #f2f2f2;

}

#main-first .main-first-flex {
  width: 50%;
  color: #000;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

#main-first .main-first-flex ul {
  width: 300%;
  background: #f2f2f2;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 1em;
  font-size: 12px;
  font-weight: bold;
  list-style: none;
}

#main-first .main-first-flex div {
  font-size: 12px;
  padding: 12px 0 12px 0;
  background: rgba(51, 51, 51, 0.5);
  line-height: 1.5em;
  color: #f2f2f2;
  width: 60%;
  text-align: center;
} 

#main-first .main-first-flex li:nth-child(2) {
  padding-left: 1em;
  line-height: 1.5em;
}


/* ------- topページ　main-second -------- */

#main-second {
  background: #000;
  height: 400px;
  position: relative;
}

#main-second .main-second-content {
  position: absolute;
  top: 32%;
  color: #f2f2f2;
  margin-left: 15%;
}

#main-second .main-second-title {
  letter-spacing: 0.1em;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}

#main-second .main-second-sentence {
  letter-spacing: 0.1em;
  font-size: 11px;
  padding-right: 32%;
  line-height: 1.8em;
  margin-bottom: 25px;
}

.main-second-content button {
  font-size: 12px;
  padding: 0.5em 2em;
  font-weight: bold;
}

#main-second .main-second-img {
  position: absolute;
  top: 25%;
  left: 55%;
  width: 505px;
  height: 335px;

}

#main-second .main-second-img img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}


/* ---------topページ　service--------- */

#service {
  height: 1200px;
  background-color: #cccccc;
  margin-top: 100px;
  position: relative;
}

#service .img-1 img {
  position: absolute;
  width: 50%;
  right: 0;
  width: 630px;
  height: auto;
}

#service .img-2 img {
  position: absolute;
  width: 50%;
  top: 60%;
  width: 630px;
  height: auto;
}

#service .service_title {
  padding: 0.5em;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#service .service_content_1,
#service .service_content_2 {
  position: absolute;
  background: #f2f2f2;
  width: 35%;
  padding: 5em 3em;
  font-size: 12px;
}

#service .service_content_1 div, 
#service .service_content_2 div{
  margin-bottom: 1em;
  line-height: 1.5em;
}

#service .service_content_1 div:nth-child(1), 
#service .service_content_2 div:nth-child(1) {
  font-weight: bold;
}

#service .service_content_1 button, 
#service .service_content_2 button {
  position: absolute;
  right: 3em;
  font-size: 12px;
  padding: 0.5em 2em;
}

#service .service_content_1 {
  left: 20%;
  top: 10%;
}

#service .service_content_2 {
  right: 20%;
  top: 65%;
}


/* ----------topページ　introdduction-------- */

#introduction .introduction-flex {
  display: flex;
  justify-content: space-between;
  color: #f2f2f2;
  font-weight: bold;
  line-height: 1.5em;
}

#introduction .company,
#introduction .recruit {
  width: 48%;
  margin-top: 100px;
  padding: 4.5em 0;
  background: chartreuse;
  text-align: center;
  background-size: cover;
  background-position: center;
}

#introduction .company div:nth-child(1),
#introduction .recruit div:nth-child(1) {
  font-weight: bold;
  font-size: 25px;
}

#introduction .company div:nth-child(2),
#introduction .recruit div:nth-child(2) {
  font-weight: bold;
  font-size: 12px;
}

#introduction .company {
  background-image: url(../img/company.jpeg);
}
#introduction .recruit {
  background-image: url(../img/recruit.jpg);
}

/* #introduction .quesion {
  display: flex;
  margin: 100px auto;
  background: #000000;
  width: 70%;
  padding: 2em 3em;
  color: #f2f2f2;
  justify-content:center;
  align-items: center;
}

#introduction .quesion p:nth-child(1) {
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  font-family: initial;
  text-align: left;
}

#introduction .quesion p:nth-child(2) {
  align-items: center;
  text-align: center;
} */

.introduction_content {
   margin: 100px auto;
  background: #000;
  width: 70%;
  padding: 2em 3em;
  color: #f2f2f2;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.introduction_content p {
    position: absolute;
    left: 0;
    font-size: 25px;
    margin-left: 1.5em;
}

.introduction_content button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;  /* ここまでボタンリセット */
  color: #f2f2f2;
  font-size: 12px;
}


/* ----------topページ　contact-------- */
#contact {
  background-image: url(../img/contact-bg.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15% 15%;
  /* position: relative; */
}

#contact p,
#contact button {
  margin: 0 auto;
  color: #f2f2f2;
  /* position: absolute;*/
}

#contact p:nth-child(1) {
  width: 3.5em;
  font-size: 27px;
  margin-bottom: 10px;
  /* right: 50%;
  margin: auto; */
}
#contact p:nth-child(2) {
  width: 6em;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  /* right: 50%;
  top: 30%;
   margin: auto; */
}

#contact p:nth-child(3) {
  width: 15em;
  font-size: 23px;
  margin-bottom: 20px;
  /* right: 50%;
  top: 50% */
}

#contact p:nth-child(4) {
  width: 87em;
  font-size: 9px;
  margin-bottom: 20px;
}

#contact button {
  display: block;
  background-color: transparent;
  border: 1px #f2f2f2 solid;
  cursor: pointer;
  outline: 1 solid #f2f2f2;
  padding: 5px 20px;
  appearance: none; 

}

/* ----------topページ　footer-------- */