
/* -------------------*/
/*        共通項目     */
/* -------------------*/
body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
}

div, p, a, h1 {
    color: #000000;
}


a {
    text-decoration: none;
}

a:hover {
    transition: 0.5s;
    opacity: 0.5;
}

.a_red:hover {
    background-color: rgb(219, 7, 46);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: rgb(202, 61, 61);
    border: none;
    cursor: pointer;
    outline: none;
    padding: 1em;
    width:250px;
    appearance: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 1px;
    text-align: center;
}

/* -------------------*/
/*       header       */
/* -------------------*/
header {
    height: 70px;
}

.header {
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content:space-between;
    position: fixed;
    z-index: 999;
}

.header h1 {
    margin: 3%;
}
.header img {
    height: 20px;
    width: auto;
}

.header-link a{
    padding-right: 1.5em;
    font-weight: bold;
}


/* -------------------*/
/*       main mv      */
/* -------------------*/

.mv {
    display: flex;
    background: url(../img/mv.png) center / cover;
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    margin-bottom: 80px;
}

.mv p {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

/* -------------------*/
/*       service      */
/* -------------------*/
.service_box {
    width: 1080px;
    margin: 0 auto;
}

.service_box .title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.service_left img, 
.service_right img {
    height: 180px;
    width: 300px;
    padding-bottom: 10px;
}

.service_left p, 
.service_right p {
    width: 530px;
    line-height: 1.5em;
}

.service_left p:nth-of-type(1), 
.service_right p:nth-of-type(1) {
    font-weight: bold;
    font-size: 25px;
}

#service {
    position: relative;
    margin-bottom: 100px;
}

#service .flex {
    justify-content: unset;
    align-items: unset;
}

.line {
    border-top: 1px #000 solid;
    margin: 16px 0;
}

.service_text {
    padding-left: 30px;
    white-space: nowrap;
}

.service_bottom .service_text p:nth-of-type(2) {
    width: 740px;
    white-space: normal;
}

/* -------------------*/
/*       contact      */
/* -------------------*/
#contact {
    height: 320px;
    background-color: rgb(245, 246, 249);
}

.contact_text {
    text-align: center;
    padding-top: 90px;
}

.contact_text p:nth-of-type(1) {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.contact_text p:nth-of-type(2) {
    padding-bottom: 60px;
}

.contact_text .button {
    padding: 1em 120px;
}
/* -------------------*/
/*        footer      */
/* -------------------*/
.footer {
    height: 60px;
    position: unset;
    background-color: #000000;
}

.footer_box {
    width: 1100px;
    justify-content: space-between;
    margin: 0 auto;
}

.footer p,
.footer-link a {
    color:#ffffff;
    font-size: 12px;
}

.line_left {
  margin: 0 10px;
  width: 1px;
  background-color: #fff;
  height: 16px;
}

.footer-link a{
    padding-right: 0;
    font-weight: bold;
}



/* -------------------*/
/*     Responsive     */
/* -------------------*/


@media screen and (max-width: 768px) {

/* -------------------*/
/*        header      */
/* -------------------*/
    #hamburger {
        width: 40px;
        height: 40px;
        position: absolute;
        cursor: pointer;
        z-index: 999;
        top: 15px;
        right: 20px;
        transition: 0.4s;
        position: fixed;
    }

    #hamburger span {
        position: absolute;
        left: 2px;
        display: block;
        width: 35px;
        height: 4px;
        background-color: rgb(0, 0, 0);
        transition: 0.8s;
    }

    #hamburger span:nth-of-type(1) {
        top: 5px;
    }
    #hamburger span:nth-of-type(2) {
        top: 20px;
    }
    #hamburger span:nth-of-type(3) {
        top: 35px;
    }

    .header-link {
        display: none;
    }

    .header {
        z-index: 999;
    }

    /* -------------------*/
    /*        mv_box      */
    /* -------------------*/
    .mv {
        background-size: cover;
    }

    .mv_context {
        width: auto;
    }

    .mv_context p:nth-of-type(1) {
        line-height: 1.5em;
        margin: 0 20px;
    }

    /*-------------------*/
    /*      service      */
    /*-------------------*/
    .service_box {
        width: 85vw;
        margin: 0 auto;
    }

    .service_left.flex,
    .service_right.flex {
        display: block;
    }

    .service_left img,
    .service_right img{
        padding-right: 0;
        max-width: 100%;
        height: auto;
        width /***/:auto;
    }

    .service_left p,
    .service_right p{
        width: auto;
    }

    .service_left p,
    .service_right p {
        padding-bottom: 10px;
    }

    #service .service_button {
        top: 103%;
    }

    .service_text {
        white-space: normal;
    }

    .service_bottom .service_text p:nth-of-type(2) {
        width: auto;
    }

    /* -------------------*/
    /*       contact      */
    /* -------------------*/
    .contact_text p:nth-of-type(2) {
        padding: 0 35px 60px 35px;
    }

  /*-------------------*/
    /*      footer       */
    /*-------------------*/
    .footer {
        height: auto;
    }

    .footer_box {
        width: 100%;
        margin: 5% auto;
    }

    .footer .flex{
        justify-content:center;
    }

    .footer_box .flex{
        display: block;
    }

    .footer_box p:nth-of-type(1) {
        margin: 10px;
    }

    .footer-link {
        padding-left: 50px;
    }

    .footer-link a {
        display: block;
        margin-bottom: 1.6em;
    }

    .line_left {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .footer .flex {
        display: block;
        text-align: center;
    }

    .footer_box p:nth-of-type(1) {
        margin-bottom: 1.6em;
    }

    .footer-link {
        padding-left: 0;
    }
}